@import url('https://fonts.googleapis.com/css?family=Lemonada');
body{
  color: rgb(179,0,0);
  font-family: arial, sans-serif;
  margin: auto;
  max-width: 800px;
  min-width: 200px;
  text-align: justify;
  background-color: black;
}

h1{
  color: rgb(179,0,0);
  font-family: "Lemonada";
  font-size: 50px;
  text-align: center;
}

h2{
  color: rgb(179,0,0);
  font-family: sans-serif;
  font-size: 25px;
  text-align: center;
}

.mozart-photo {
  text-align: center;
}

ul{
  color: gray;
}

.larger-image {
  margin: 20px;
  width: 300px;
}

.thin-maroon-border {
  border-color: rgb(179,0,0);
  border-radius: 20px;
  border-style: solid;
  border-width: 20px;
}

p{
  font-size: 20px;
}

.music-box {
  border-color: rgb(179,0,0);
  border-radius: 10px;
  border-style: solid;
  border-width: 5px;
  font-size:20px;
  width:330px;
}

#link{
  color:gray;
  text-decoration: none;
}

.footer {
    color:gray;
    font-size:20px;
}
